@media(max-width: 768px){
    .nav{
    background-color: white;
    margin-bottom: 40px;
    position: absolute;
    left: 132px;
    right: unset;
    display: flex;
    padding: 20px;
    flex-direction: column;
    transform: scale(0.75);
}
    .nav_item{
        margin-right: 0;
        margin-bottom: 20px;
    }
    nav:hover{
        left: 0;
    }
    .wapper{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
    }
    main{
        margin-top: 30px;
    }
}
@media(max-width: 1199.9px){
    .sidebar{
        width: initial;
        max-width: 400px;

    }

}